.scrolldown h3 {
	font-family: "Futura" Tw Cen Mt sans-serif;  
    text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
    background-color: rgba(0, 0, 0, 0.9);
}

h2.subtitle {
    color: black;
    font-family: "Bentham", Verdana, Arial, serif;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 6em;
    padding: 0, 0;
}

div.icon {
    background-color: rgba(0, 0, 0, 0.9);  
}

.herowrapper h1 {
    font-size: 10vw;
    font-weight: bold;
    color: rgba (251, 223, 62, 1);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    line-height: 0.1em;
}

.herowrapper b {
    text-shadow: none;
    font-size: 3.5vw;
}

.footer {
    background-color: black;
}

div.section.divider {
    border-top-color:#0f1f88;
}

div.section.divider h2 {
    color: #0f1f88;
    font-family: "Bentham", Verdana, Arial, serif;
}

ul.mainmenu li.active a {
    color: #0f1f88;
    font-family: "Futura" Tw Cen Mt sans-serif; 
}

input {
    border-color: #0f1f88; 
}

.contact {
    font-family: "Futura" Tw Cen Mt sans-serif; 
    color: black;
}

textarea {
    border-color: #0f1f88;
}